################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EasyPost.Light/v16/Server/sqlite3
/.vs
/bin/Debug
/obj/Debug
/packages
